<div class="col-md-12">
<div class="only-typography d-flex justify-content-center mt-5">
        <div class="col-md-9  text-center">
<h2 class="dispaly-4 only-typography__large-title  animate__animated  animate__fadeInDown">{{ content.field_title }}</h2>

<div class="only-typography__description animate__animated  animate__fadeInUp animate__slower	2s ">{{ content.field_descripation }}</div>

        </div>


    </div>
</div>